
@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="text-center">
    <h4 class="text-success">Password Reset Link has been sent.</h4>
    <p>
        <br /><br />
        Please check your mail to reset your password.
    </p>
    <p>
        <i>Go Back To <a href="/account/login"> Login </a> Page.</i>
    </p>
</div>
