.form-group label.required:after {
    content: "*";
    color: #D1413E;
    font-weight: 400;
    font-size: 15px;
    position: absolute;
    margin-left: 3px;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    /*padding: 0 0.5em;*/
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    font-family: Roboto;
    padding: 0;
}

#pac-container {
    padding: 15px 10px 15px 10px;
    border-radius: 5px !important;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.addr-card {
    padding: 5px 15px 10px 15px;
    border-radius: 5px !important;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: solid 1px;
    min-height:170px!important;
    max-height:170px!important;
}

    .addr-card:hover {
        transform: scale(1.07);
    }

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

    .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }

#pac-input {
    background-color: #fff;
    text-overflow: ellipsis;
    /*width: 500px;*/
}

    #pac-input:focus {
        border-color: #4d90fe;
    }

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}
