@model UppaiWeb.ViewModels.PartnerDtlsVM
@{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}
<div class="partner-section pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="menu-title">
                    <h2>Restaurants Partner</h2>
                    <ul class="custom_breadcrumb">
                        <li><a href="/home/index"><i class="fa fa-home"></i> Home</a></li>
                        <li><i class="fa fa-cutlery"></i> Restaurants</li>
                    </ul>
                </div>
            </div>
        </div>
        @if (Model.BizCategotyList.Count() > 0)
        {
            <div class="row">
                <div class="col-lg-12">
                    <div class="special-menu text-center">
                        <div class="button-group filter-button-group">
                            <button class="active BizFilter" data-filter="*" id="key_0">All</button>
                            @foreach (var BizCat in Model.BizCategotyList)
                            {
                                <button data-filter=".@BizCat.BusinessCategoryID" id="key_@BizCat.BusinessCategoryID" class="BizFilter">@BizCat.BusinessCategoryName</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class=" col-md-12 menu-div-sec">
            <div class=" row">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" name="SearchTerm" id="inputsearch" class="form-control" autocomplete="off" placeholder="Search By Restaurant Name..." />
                        <span class="input-group-btn">
                            <button class="btn btn-warning pull-left" type="submit" id="search" value="Search">
                                <i class="fa fa-search"> </i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <p id="demo" class="ml-4 mt-2"></p>
                <div class="col-md-12" id="PartnerDtlsView">
                    @*@Html.Partial("_pvmenulist", Model)*@
                </div>
            </div>
        </div>
    </div>
</div>

@*error message*@
<div id="ErrMsg" style="display:none;">
    <input type="hidden" id="ErrMsgHiddenField" name="ErrMsg" value="@TempData["ErrMsg"]" />
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function (e) {
            $('#search').on('click', function () {
                var TabActive = $('.BizFilter.active').attr("id");
                var BizID = TabActive.split('_');
                //alert(BizID[1]);
                loadpartnerlist(BizID[1]);
                var x = '<i> Showing Results for Search Key: <b class="text-warning">"' + document.getElementById("inputsearch").value + '" </b> <a href="/home/PartnerList">&nbsp; <u>Clear Search</u></a></i>';
                document.getElementById("demo").innerHTML = x;
            });

            //By Default
            $.ajax({
                url: '/Home/GetPartnerByBiz',
                type: 'GET',
                data: { BizID: 0, SearchTerm: $('#inputsearch').val() },
                success: function (data) {
                    $('#PartnerDtlsView').empty().append(data);
                }
            });
            var MenuDtls = function () {
                var FilterID = $(this).attr("id");
                var BizID = FilterID.split('_');
                $.ajax({
                    url: '/Home/GetPartnerByBiz',
                    type: 'GET',
                    data: { BizID: BizID[1], SearchTerm: $('#inputsearch').val() },
                    success: function (data) {
                        $('#PartnerDtlsView').empty().append(data);
                    }
                });
            }
            $(document).on('click', '.BizFilter', MenuDtls);
            function loadpartnerlist(val) {
                $.ajax({
                    url: '/Home/GetPartnerByBiz',
                    type: 'GET',
                    data: { BizID: val, SearchTerm: $('#inputsearch').val() },
                    success: function (data) {
                        $('#PartnerDtlsView').empty().append(data);
                    }
                });
            }
        });
    </script>
}


