.purchace-popup > div {
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #f5d7ca;
    padding: 10px 10px 10px 10px;
}

.stretch-card {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: stretch;
    justify-content: stretch;
}

    .stretch-card > .card {
        width: 100%;
        min-width: 100%;
    }

.bg-card {
    background-color: #f6f6f6 !important;
}

.card-statistics p {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
}

.card-event {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
}

.card-statistics a {
    color: inherit;
}

.bg-event {
    background: linear-gradient(0deg,rgba(210, 210, 210,0.4),rgba(210, 210, 210,0.3)),url('../Content/img/cal-bg.jpg');
    background-size: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
}

.performer-name {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.font-13 {
    font-size: 13px !important;
}

.card-title {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #404852;
    margin-bottom: 22px;
    font-size: 16px;
    text-transform: capitalize;
}

.display-5 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-medium {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;
}

.display-big {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2;
}

.weakly-weather {
    background: #ffffff;
    overflow-x: auto;
}

    .weakly-weather .weakly-weather-item {
        border-right: 1px solid #d5d4d4;
        padding: 1rem;
        text-align: center;
    }

.weather-data {
    padding: 0 0 4rem;
}

.weather-date-location {
    padding: 0 0 30px;
}

.foot-card {
    position: absolute;
    bottom: 0;
    left: 0;
}

.percent-div {
    padding: 10px 15px;
}

.text-bold {
    font-weight: bold !important;
    font-size: 80%;
}

.fixed-size {
    height: 385px;
    overflow: auto;
}
