@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

.page-body-wrapper {
    min-height: calc(100vh - 63px);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
}

    .page-body-wrapper:not(.auth-page) {
        padding-top: 0px;
    }

    .page-body-wrapper.full-page-wrapper {
        width: 100%;
        min-height: 100vh;
    }
    .content-wrapper {
    background: #f2f8f9;
    padding: 50px 25px;
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
/* === Landing screens === */
/* Auth */
.auth.auth-bg-1 {
    background:linear-gradient(0deg, rgba(255, 0, 180, 0.3), rgba(255, 0, 180, 0.3)), url("../Content/img/login-back.jpg");
  /*background: url("../Content/img/login-back.jpg")  top right no-repeat;*/
  background-size: cover; 
}


.auth.register-bg-1 {
  background: url("../images/auth/register.jpg") right center no-repeat;
  background-size: cover; 
}

.auth.theme-one .auto-form-wrapper {
  background: #ffffff;
  padding: 40px 40px 10px;
  border-radius: 4px;
  box-shadow: 0 -25px 37.7px 11.3px rgba(8, 143, 220, 0.07); }
  .auth.theme-one .auto-form-wrapper .form-group .input-group {
    height: 44px; }
    .auth.theme-one .auto-form-wrapper .form-group .input-group .form-control {
      border: 1px solid #e5e5e5;
      border-right: none;
      border-radius: 6px 0 0 6px; }
      .auth.theme-one .auto-form-wrapper .form-group .input-group .form-control:focus {
        border-right: none;
        border-color: #e5e5e5; }
    .auth.theme-one .auto-form-wrapper .form-group .input-group .input-group-append {
      border-left: none; }
      .auth.theme-one .auto-form-wrapper .form-group .input-group .input-group-append .input-group-text {
        border-radius: 0 6px 6px 0;
        border-left: none;
        border-color: #e5e5e5;
        color: #b6b6b6; }
  .auth.theme-one .auto-form-wrapper .form-group .submit-btn {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    padding: 12px 8px;
    font-weight: 600; }
  .auth.theme-one .auto-form-wrapper .g-login {
    border: 1px solid #f2f2f2;
    padding: 13px;
    font-size: 12px;
    font-weight: 600;
    background: transparent; }

.auth.theme-one .auth-footer {
  list-style-type: none;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center; }
  .auth.theme-one .auth-footer li {
    margin-right: 10px;
    line-height: 1;
    padding-right: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.4); }
    .auth.theme-one .auth-footer li:last-child {
      margin-right: 0;
      border-right: none; }
    .auth.theme-one .auth-footer li a {
      font-size: 13px;
      color: rgba(255, 255, 255, 0.4); }
  @media (max-width: 767.98px) {
    .auth.theme-one .auth-footer {
      -webkit-justify-content: center;
      justify-content: center; } }

.auth.theme-one .footer-text {
  color: rgba(50, 50, 50, 0.7); }

.auth.theme-two .auto-form-wrapper {
  position: relative;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  padding: 110px 5% 5%;
  border-radius: 4px; }
  @media (max-width: 767.98px) {
    .auth.theme-two .auto-form-wrapper {
      padding: 11% 15px;
      text-align: center;
      height: 100%;
      max-height: 100%; } }
  .auth.theme-two .auto-form-wrapper .nav-get-started {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: 30px;
    right: 30px; }
    @media (max-width: 767.98px) {
      .auth.theme-two .auto-form-wrapper .nav-get-started {
        margin-bottom: 5%;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        top: unset;
        right: unset;
        -webkit-justify-content: center;
        justify-content: center; } }
    .auth.theme-two .auto-form-wrapper .nav-get-started p {
      margin-bottom: 0;
      font-weight: 300; }
    .auth.theme-two .auto-form-wrapper .nav-get-started .get-started-btn {
      border: 1px solid #f2f2f2;
      padding: 10px 20px;
      font-size: 12px;
      font-weight: 600;
      color: #000;
      margin-left: 20px;
      border-radius: 50px; }
  .auth.theme-two .auto-form-wrapper form {
    width: 50%;
    min-width: 300px;
    max-width: 480px; }
    .auth.theme-two .auto-form-wrapper form .form-group {
      width: 100%;
      margin-bottom: 25px; }
      @media (max-width: 767.98px) {
        .auth.theme-two .auto-form-wrapper form .form-group {
          margin-right: auto;
          margin-left: auto; } }
      .auth.theme-two .auto-form-wrapper form .form-group .input-group {
        height: 44px; }
        .auth.theme-two .auto-form-wrapper form .form-group .input-group .form-control {
          border: 1px solid #e5e5e5;
          border-left: none;
          border-radius: 0 6px 6px 0; }
          .auth.theme-two .auto-form-wrapper form .form-group .input-group .form-control:focus {
            border-left: none;
            border-color: #e5e5e5; }
        .auth.theme-two .auto-form-wrapper form .form-group .input-group .input-group-prepend .input-group-text {
          border-radius: 6px 0 0 6px;
          border-color: #e5e5e5;
          border-right: none;
          color: #dfdfdf; }
      .auth.theme-two .auto-form-wrapper form .form-group .submit-btn {
        font-family: "Poppins", sans-serif;
        font-size: 13px;
        padding: 11px 33px;
        font-weight: 600;
        background-image: linear-gradient(120deg, #00e4d0, #5983e8); }
  .auth.theme-two .auto-form-wrapper .footer-text {
    font-size: 13px;
    margin-bottom: 0; }
  .auth.theme-two .auto-form-wrapper .auth-footer {
    list-style-type: none;
    display: -webkit-flex;
    display: flex;
    margin-top: 7px;
    padding-left: 0;
    margin-bottom: 0; }
    .auth.theme-two .auto-form-wrapper .auth-footer li {
      margin-right: 10px;
      line-height: 1;
      padding-right: 10px;
      border-right: 1px solid #c2c2c2; }
      .auth.theme-two .auto-form-wrapper .auth-footer li:last-child {
        margin-right: 0;
        border-right: none; }
      .auth.theme-two .auto-form-wrapper .auth-footer li a {
        font-size: 13px;
        color: #c2c2c2; }
    @media (max-width: 767.98px) {
      .auth.theme-two .auto-form-wrapper .auth-footer {
        -webkit-justify-content: center;
        justify-content: center; } }

.auth.theme-two .banner-section {
  padding-right: 0; }
  .auth.theme-two .banner-section .slide-content {
    width: 100%; }
    .auth.theme-two .banner-section .slide-content.bg-1 {
      background: url("../images/auth/login_2.jpg") no-repeat center center;
      background-size: cover; }
    .auth.theme-two .banner-section .slide-content.bg-2 {
      background: url("../images/auth/register_2.jpg") no-repeat center center;
      background-size: cover; }

    /******************Styles for validation helpers********************/
.field-validation-error {color: #ff726f;font-size: 12px;font-style: italic;}
.field-validation-valid {display: none;}
input.input-validation-error {border: 1px solid #D1413E;}
input[type="checkbox"].input-validation-error {border: 0 none;}
.validation-summary-errors {color: #ff726f;font-size: 13px;font-style: italic;}
.validation-summary-valid {display: none;}
.form-group label.required:after {
    content: "*";
    color: #D1413E;
    font-weight: 400;
    font-size: 15px;
    position: absolute;
    margin-left: 3px;
}